In [1]:
import mysql.connector
db = mysql.connector.connect(host ="localhost",user="root",passwd="IT@10")#database="employee"
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000245A1F4DA30>

In [2]:
# chech connection established or not

if (db):
    print("Connection estblished Successfully")
else:
    print("Connection filed")

Connection estblished Successfully

In [3]:
curs = db.cursor()

In [5]:
# chech database exist or not
curs.execute("Show databases")
for i in curs:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [6]:
# create database
curs.execute("create database Task_3")

In [7]:
# select database for performing operations
curs.execute("use Task_3")

In [8]:
# 1. creation of the table
curs.execute("create table employee(eid int(10), name varchar(20), sal int(10))")

In [9]:
curs.execute("describe employee")
for i in curs:
    print(i)

('eid', b'int', 'YES', '', None, '')
('name', b'varchar(20)', 'YES', '', None, '')
('sal', b'int', 'YES', '', None, '')

In [10]:
curs.execute("show tables")
for i in curs:
    print(i)

('employee',)

In [11]:
# 2.insertion

emp = "Insert into employee(eid,name,sal)values(%s,%s,%s)"
emp1 = [(1,"ABC",20000),(2,"PQR",50000),(3,"TSP",80000),]
curs.executemany(emp,emp1)
db.commit()

In [12]:
# 3.read 
  #1.fetchone(), 2.fetchall()
    
curs.execute("select * from employee")
res = curs.fetchall()
for i in res:
    print(i)

(1, 'ABC', 20000)
(2, 'PQR', 50000)
(3, 'TSP', 80000)

In [13]:
# 4.update
sql = "update employee set sal = 100000 where eid = 2"
curs.execute(sql)
db.commit()

In [14]:
# 5.delete
sql = "delete from employee where eid = 2";
curs.execute(sql)
db.commit()

In [15]:
# 6.delete the database
curs.execute("drop database task_3")
for i in curs:
    print(i)